body {
  text-align: center;
  align-items: center;
  font-family: "Ubuntu";
  background-color: #f2efe9;

}

h1 {
  font-size: 8vw;
  font-family: "Poppins", Sans-serif;
  padding-top: 3.5vw;
}

h2 {
  font-family: poppins;
  font-weight: 800;
  font-size: 3.5vw;
  margin-top: 0.85vw;
  color: #E9EBE8;
}

button {
  font-size: 175px;
  position: relative;
  top: 45vh;
}
img[usemap] {
		border: none;
    position: absolute;

	}

.front-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  position: absolute;
  height: 100%;
  width: auto;
}

.front-image-small {
  display: none;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

/* If the page width is too small */
.inBack {
  opacity: 0.5;
}

.front-div {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;

}

.front-div-large {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.front-div-small {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.round {
  border: solid;
  border-width: 0.08vw;
  border-color: black;
  text-align: center;
  position: absolute;

  left: 3.12vw;
  top: 3.5vh;
  height: 35vw;
  width: 35vw;
  border-radius: 50%;
  display: block;
}

/* Everything in the background */
.round-lrg {
  border: solid;
  border-width: 1px;
  border-color: black;
  text-align: center;
  position: absolute;
  top: 2vh;
  left: 7.125vw;
  height: 40vw;
  width: 40vw;
  border-radius: 50%;
  display: block;
}

.second-round-lrg {
  border: solid;
  border-width: 1px;
  border-color: black;
  text-align: center;
  position: absolute;
  bottom: 2vh;
  right: 7.125vw;
  height: 40vw;
  width: 40vw;
  border-radius: 50%;
  display: block;
}

.info-photo {
  border: solid;
  border-color: black;
  height: 80%;
  position: absolute;
  bottom: 10%;
  right: 10px;
  border-radius: 5%;
}

.carousel-indicators {
  border-radius: 50%;
  margin: 0;
}

.carousel>a {
  height: 25%;
  transform: translateY(148%);
}

.carousel-inner {
  border-radius: 50%;
  height: 100%;
}

.carousel-item {
  border-radius: 50%;
}

.carouselCircle {
  border-radius: 50%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.carouselPic {
  border-radius: 50%;
  height: 35vw;
  top: 50%;
  transform: translateY(7%);
  position: relative;
}
.carouselPic-mobile {
  border-radius: 50%;
  height: 90vw;
  top: 50%;
  transform: translateY(3%);
  position: relative;
}


.carousel-caption {
  padding: 0;
}

.info-title {
  margin-top: 9.375vw;
}


.hidden {
  display: none;
}

/* Add an extra .carousel parent class to increase specifity
   avoiding the use of !important flag. */
.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.75);
}

.carousel .carousel-indicators .active {
  background-color: #444;
}

.round-small{
  display: none;
}
.round-empty{
  display: none;
}
.second-round-lrg-mobile {
  border: solid;
  border-width: 1px;
  border-color: black;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  height: 95vw;
  width: 95vw;
  border-radius: 50%;
  display: hidden;
}
.carouselCircleMobile {
  border-radius: 50%;
  height: 100%;
  position: absolute;
  overflow: hidden;

}


.carousel-control-next,
.carousel-control-prev {
    filter: invert(10%);
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
margin-top: 8px;
height: 150px;
width: 50px;
}
.carousel-control-next-icon{
  margin-right: 15px;
}
.carousel-control-prev-icon{
  margin-left: 15px;
}

#carousel2{
  touch-action: pinch-zoom;
}

@media (max-width: 1000px) {
  .round-empty {
    display: none;
    position: absolute;
    left: 15.5vw;
    top: 6.5vh;
    height: 15vw;
    width: 15vw;
  }

  .front-div-large {
    display: none;
  }

  .front-image {
    display: none;
  }

  .round-small {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    height: 90vw;
    width: 90vw;
  }

  .front-div-small {
    display: block;
    height: 100%;
    width: 100%;
  }

  .front-image-small {
    display: block;
    height: 100%;
    width: auto;
  }

  .round {
    display: none;
  }


}
